HELP.md
back/target/
!back/.mvn/wrapper/maven-wrapper.jar
!back/**/src/main/**/target/
!back/**/src/test/**/target/

### IntelliJ IDEA ###
back/.idea
back/*.iws
back/*.iml
back/*.ipr
back/*.yml
back/.gradle

### Yaml ###
back/*.yaml

### NetBeans ###
back//nbproject/private/
back//nbbuild/
back//dist/
back//nbdist/
back//.nb-gradle/
back/build/
!back/**/src/main/**/build/
!back/**/src/test/**/build/

### VS Code ###
.vscode/

### React
# dependencies
/front/node_modules
/front.pnp
.pnp.js

# testing
/front/coverage

# production
/front/build

# 2021-12-30 필요 없어 보이는 파일 항목 추가
/out
/src/main/resources/static/static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*