.Footer{
  background-color: #222e3d;
  height: 2rem;
  position: relative;
}

.Footer > font {
  font-family: cursive;
  text-align: center;
  top:0.5rem;
  left: 0.5rem;
  color: rgb(255,153,0);
  position: absolute;
  font-size:1rem;
  line-height: 1;
}

.Footer > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.history  svg:hover{
  cursor: pointer;
}

.history-icon{
  font-size: 1.3rem;
  margin: 1rem auto 0 auto;
  display: block;
}