@media(max-width:980px){
  .Header{height:4rem;}
  body {overflow-x: hidden;}
  header > div {width: 100%; box-sizing: border-box; height: 4rem; position: relative;}
  header nav {display: none;}


  header h1 {position: absolute; }
  header a h1 {position: relative; top: 50%; transform: translateY(-50%); display: block; height: 2.05rem; text-align: center; font-size:2.05rem; font-family: "Franklin Gothic Medium"; color: blueviolet;}

  header .btn_nav {right: 0; }
  header .btn_login:before {content: ""; display: block; margin: 0 auto; width: 1.35rem; height: 1.35rem; }


  header nav a {display: block; line-height: 2.05rem; font-size: .9rem; color: #333; text-align: center; font-weight: bold;}
  header .btn_nav,
  header .btn_login {position: absolute; top: 1rem; width: 2rem; height: 2rem; line-height: 1; text-align: center;}
  
  header .btn_login {display:none;}
  header .btn_nav{
      margin-right: 10px;
  }
  .total_nav .close {position: fixed; top:12px; right: 10px; width: 2.05rem; height: 2.05rem; background: url(../../images/btn_close2.png) no-repeat center;}

  .total_nav {display: none; position: fixed; z-index: 1001; background: #fff;
      overflow: auto; left: inherit; right: 0; top: 0; bottom: 0; padding: 2.9rem 0 0; width: 60%;
  }


  .total_nav.on {display: block;}
  .total_nav .logo {display: none;}
  .total_nav > div {padding: .75rem 0; border-top: 1px solid #ebebeb;}
  .total_nav > div {padding: 0; border-top: none;}
  .total_nav .txt_login {display: block; font-size: .9rem; color: #333; line-height: 3.05rem; text-indent: 1.45rem;}
  .total_nav .txt_login span {color: blue;}
  .total_nav .txt_login:before { margin: 0 .85rem 0 0;}
  .total_nav nav {width: 100%;}

  .total_nav nav > ul > li > p {display: block; text-align: center; font-size: .85rem; color: #333; line-height: 1.2rem;}
  .total_nav nav > ul {display: block; border-top: 1px solid #ebebeb;}
  .total_nav nav > ul > li {border-bottom: 1px solid #ebebeb;}
  .total_nav nav > ul > li ~ li {border-left: none;}
  .total_nav nav > ul > li > p {position: relative; text-align: left; line-height: 3.1rem; margin-left: 2rem;}
  .total_nav nav > ul > li > p:before {margin: 0 .5rem 0 1.5rem;}
  .total_nav nav > ul > li > p:after {content: url(../../images/ico_arrow_down2.png); position: absolute; right: 1.1rem; top: 50%; transform: translateY(-50%) rotate(180deg); font-size: 0; line-height: 1; transition: transform .4s;}
  .total_nav nav > ul > li.on > p:after {transform: translateY(-50%) rotate(0deg);}
  .total_nav nav > ul > li > div {display: none;}
  .total_nav nav > ul > li.on > div {display: block;}
  .total_nav nav > ul > li ul {display: flex; flex-wrap: wrap; padding: 1.15rem 0; border-top: 1px solid #ebebeb; background: #f7f8f9;}
  .total_nav nav > ul > li ul li {width: 50%; }
  .total_nav nav > ul > li ul a {padding: .7rem 0 .7rem 1.15rem; line-height: 1.3; text-align: left; font-size: .7rem;}
  .total_nav nav > ul > li ul a span {padding: 0;}
  .total_nav nav > ul > li ul a span:after {display: none;}
  body.hidden {overflow: hidden;}

  .header{height:4rem;}
  header{
      position:fixed;
      top:0;
      width:100%;
      z-index: 1000;
      height:4rem;
      background-color:white;
      border-bottom: black solid 2px;
  }

  header>div>h1{
      margin-top: 12px;
  }


}
@media(min-width:981px){
  
  body {font-size: 1rem;}

  .Header{height:4rem;}
  /*header 요소를 position:absolute로 설정하여 z축으로 이동시킵니다.*/
  header > div {position: relative; margin: 0 auto; padding: 0 2.05rem; width: 52rem; height:2rem;}
  header h1 {position: fixed; left: 50%; top: 1.2rem; transform: translateX(-50%);}
  /*로고가 다른 UI에 영향을 주지 않도록 position:absolute로 설정한다.*/
  header a h1 {position: relative; top: 50%; transform: translateZ(-50%); display: block; height: 2.05rem; text-align: center; font-size:2.05rem; font-family: "Franklin Gothic Medium"; color: blueviolet;}

  header nav ul {display: flex;}
  header nav li {flex: 1;}
  header div a {display: block;}
  header nav a {display: block; line-height: 2.05rem; font-size: .9rem; color: #333; text-align: center; font-weight: bold;}
  header .btn_nav,
  header .btn_login {position: fixed; top: 1.2rem; width: 2.05rem; height: 2.05rem; line-height: 1; text-align: center;}
  /*position:absolute로 설정하여 <div> 요소를 기준으로 z축에 배치하고 크기를 똑같이 지정한다.*/
  /*line-height를 1로 설정한 것은 '로그인' 텍스트와 아이콘 간의 간격을 좁히기 위한 코드 입니다.*/
  header .btn_login {left: 10px; font-size: .6rem; color: #333;}
  header .btn_nav {right: 10px;}
  header .btn_login:before {content: ""; display: block; margin: 0 auto; width: 1.35rem; height: 1.35rem; background: url(../../images/ico_login.png) no-repeat center;}

  .total_nav {display: none; position: absolute; left: 0; right: 0; top: 0; z-index: 1001; padding: 4rem 0 0; background: #fff;}
  .total_nav .close {position: fixed; z-index: 2000; right: 10px; top: 1.2rem; width: 2.05rem; height: 2.05rem; background: url(../../images/btn_close2.png) no-repeat center;}
  .total_nav > div {padding: .75rem 0; border-top: 1px solid #ebebeb;}
  .total_nav .txt_login {display: none;}
  .total_nav nav {margin: 0 auto; width: 53.85rem;}
  .total_nav nav > ul {display: flex;}
  .total_nav nav > ul > li {flex: 1;}
  .total_nav nav > ul > li ~ li {border-left: 1px solid #ebebeb;}
  /*~는 형제 선택자로 li 태그의 형제를 모두 선택하고 해당 요소의 왼쪽에 선을 표현한다. */
  /*이때, 모든 요소의 높이가 형제 요소 중에서 ㅈ가장 큰 높이에 맞춰지는 flex 레이아웃에 의해 li 요소에 높이를 제공하지 않아도 모두 같은 길이로 선이 그려진다. 즉, 가장 높이가 큰 메뉴의 높이에 맞춰 다른 li 태그도 그 높이만큼 선이 그려진다.*/
  .total_nav nav > ul > li > p {display: block; text-align: center; font-size: .85rem; color: #333; line-height: 1.2rem;}
  .total_nav nav > ul > li ul {padding: .65rem 0 0;}
  .total_nav nav > ul > li ul a {display: block; text-align: center; font-size: .8rem; color: #a2a2a2; line-height: 2.2rem; font-weight: normal;}
  .total_nav nav > ul > li ul a span {position: relative; padding: 0 .2rem;}
  .total_nav nav > ul > li ul a span em {position: relative; z-index: 2;}
  .total_nav nav > ul > li ul a span:after {content: ""; position: absolute; left: 0; width: 0; bottom: -1px; border-bottom: .4rem solid #e5e5e5; z-index: 1; transition: width .5s;}
  .total_nav nav > ul > li ul a:focus span:after,
  .total_nav nav > ul > li ul a:hover span:after {width: 100%;}
  main {display: block; background: #e5e5e5; line-height: 100vh; text-align: center; font-size: 2.5rem; color: #000; font-weight: bold;}
  .total_nav a[target="_blank"]:after {content: ""; display: inline-block; margin: -0.2rem 0 0; width: .5rem; height: 1rem; }
  body.hidden {overflow: hidden;}
  .megamenu ul>li{ text-align: center;}
  header{
      position:fixed;
      top:0;
      width:100%;
      padding-top:1rem;
      padding-bottom:1rem;
      z-index: 1000;
      height:auto;
      background-color:white;
      border-bottom: black solid 2px;
  }

}


.dim {display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; background: rgba(19,19,19,.5);}
.dim:hover {cursor: pointer}

.opened {display: block;}
header .btn_nav {background: url(../../images/btn_nav4.png) no-repeat center;}