.Header{height:4rem;
  @media(max-width:980px){
    // body
    body {overflow-x: hidden;}
    // header 
    header{position:fixed; top:0; width:100%; z-index: 1000; height:4rem; background-color:white; border-bottom: black solid 2px;
      > div {width: 100%; box-sizing: border-box; height: 4rem; position: relative;}
      >div>h1{margin-top: 12px;}
  
      .btn_nav {right: 0; }
      .btn_nav,
      .btn_login {position: absolute; top: 1rem; width: 2rem; height: 2rem; line-height: 1; text-align: center;}
      .btn_nav{margin-right: 10px;}
      .btn_login{margin-left: 10px; font-size: 0.6rem; display:flex;/*CSS3*/align-items:center;/*Vertical align*/}
  
      a h1 {position: relative; top: 50%; transform: translateY(-50%); display: block; height: 2.05rem; text-align: center; font-size:2.05rem; font-family: "Franklin Gothic Medium"; color: blueviolet;}
      h1 {position: absolute; }
      nav {display: none;}
    }
    // total_nav
    .total_nav{display: none; position: fixed; z-index: 1001; background: #fff; overflow: auto; left: inherit; right: 0; top: 0; bottom: 0; padding: 3.5rem 0 0; width: 60%;
      > div{padding: 0; border-top: none;}
      .close {position: fixed; top:12px; right: 10px; width: 2.05rem; height: 2.05rem; background: url(../../images/btn_close2.png) no-repeat center;}
      &.on{display: block;}
      .logo {display: none;}
      nav {width: 100%;}
      nav > ul > li > p {display: block; text-align: center; font-size: .85rem; color: #333; line-height: 1.2rem;}
      nav > ul {display: block; border-top: 1px solid #ebebeb;}
      nav > ul > li {border-bottom: 1px solid #ebebeb;}
      nav > ul > li ~ li {border-left: none;}
      nav > ul > li > p {position: relative; text-align: left; line-height: 3.1rem; padding-left: 2rem;}
      nav > ul > li > p:before {margin: 0 .5rem 0 1.5rem;}
      nav > ul > li > p:after {content: url(../../images/ico_arrow_down2.png); position: absolute; right: 1.1rem; top: 50%; transform: translateY(-50%) rotate(180deg); font-size: 0; line-height: 1; transition: transform .4s;}
      nav > ul > li.on > p:after {transform: translateY(-50%) rotate(0deg);}
      nav > ul > li > div {display: none;}
      nav > ul > li.on > div {display: block;}
      nav > ul > li ul {display: flex; flex-wrap: wrap; padding: 1.15rem 0; border-top: 1px solid #ebebeb; background: #f7f8f9;}
      nav > ul > li ul li {width: 100%; }
      nav > ul > li ul a {padding: .7rem 0 .7rem 1.15rem; line-height: 1.3; text-align: left; font-size: .7rem;}
      nav > ul > li ul a span {padding: 0;}
      nav > ul > li ul a span:after {display: none;}    
    }
  
    .megamenu>li>p:hover{cursor: pointer;}
  }
  @media(min-width:981px){
    // header
    header{position:fixed; top:0; width:100%; padding-top:1rem; padding-bottom:1rem; z-index: 1000; height:auto; background-color:white; border-bottom: black solid 2px;
      > div {position: relative; margin: 0 auto; padding: 0 2.05rem; width: 52rem; height:2rem;}
      
      .btn_nav,
      .btn_login {position: fixed; top: 1.2rem; width: 2.05rem; height: 2.05rem; line-height: 1; text-align: center;}
      .btn_nav {right: 10px;}
      .btn_login {left: 10px; font-size: .6rem; color: #333; display:flex;/*CSS3*/ align-items:center;/*Vertical align*/}
      
      a h1 {position: relative; top: 50%; transform: translateZ(-50%); display: block; height: 2.05rem; text-align: center; font-size:2.05rem; font-family: "Franklin Gothic Medium"; color: blueviolet;}
      div a {display: block;}
      h1 {position: fixed; left: 50%; top: 1.2rem; transform: translateX(-50%);}
      nav li {flex: 1;}
      nav ul {display: flex;}
    }
    // .total_nav
    .total_nav {display: none; position: fixed; left: 0; right: 0; top: 0; z-index: 1001; padding: 4rem 0 0; background: #fff;
      > div {padding: .75rem 0; border-top: 1px solid #ebebeb;}

      .txt_login {display: none;}
      
      nav {margin: 0 auto; width: 53.85rem;}
      nav > ul {display: flex;}
      nav > ul > li {flex: 1;}
      nav > ul > li ~ li {border-left: 1px solid #ebebeb;}
      nav > ul > li > p {display: block; text-align: center; font-size: .85rem; color: #333; line-height: 1.2rem;}
      nav > ul > li ul {padding: .65rem 0 0;}
      nav > ul > li ul a {display: block; text-align: center; font-size: .8rem; color: #a2a2a2; line-height: 2.2rem; font-weight: normal;}
      nav > ul > li ul a span {position: relative; padding: 0 .2rem;}
      nav > ul > li ul a span em {position: relative; z-index: 2;}
    
      nav > ul > li ul a span:after {content: ""; position: absolute; left: 0; width: 0; bottom: -4px; border-bottom: .4rem solid #e5e5e5; z-index: 1; transition: width .5s;}
      nav > ul > li ul a:hover span:after {width: 100%;}
      a[target="_blank"]:after {content: ""; display: inline-block; margin: -0.2rem 0 0; width: .5rem; height: 1rem; }
    }
    // main
    main {display: block; background: #e5e5e5; line-height: 100vh; text-align: center; font-size: 2.5rem; color: #000; font-weight: bold;}
    // body
    body.hidden {overflow: hidden;}
    // .megamenu
    .megamenu ul>li{ text-align: center;}
  }
  .dim {display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; background: rgba(19,19,19,.5);}
  .dim:hover {cursor: pointer}
  .opened {display: block;}
  header .btn_nav {background: url(../../images/btn_nav4.png) no-repeat center;}
  header nav a {display: block; line-height: 2.05rem; font-size: .9rem; color: #333; text-align: center; font-weight: bold;}      
}

