@media(max-width:980px){
  #Latest, #Board, #BoardCollection{
      width: 90%;
      margin: 0 auto;
  }

}
@media(min-width:981px){
  #Latest, #Board, #BoardCollection{
      width: 52rem;
      margin: 0 auto;
  }
}

#Latest> ul >li, #Board> ul >li, #BoardCollection > ul >li{
  border-bottom: 2px solid #efefef;
}


#Latest >ul> li:first-child, #Board >ul> li:first-child, #BoardCollection>ul> li:first-child
{
  border-top: 2px solid #efefef;
}
#Latest>ul> li:last-child, #Board>ul> li:last-child, #BoardCollection>ul> li:last-child
{
  border-bottom: 2px solid #efefef;
}

.posting-info>a, .posting-info>span{
  line-height:1.8;
  font-size:0.7rem;
  vertical-align: bottom;
}

.posting-info>a{
  color:blue;
  border-left: 2px solid rgba(0,0,255,0);
  border-right: 2px solid rgba(0,0,255,0);
}

.posting-info>a:hover{
}

.posting-link{
  border: 2px solid rgba(0,0,255,0);
}
.posting-link:hover{
  cursor: pointer;
  border: 2px solid blue;
}

.posting-link> a> div
{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height: 1.4rem;
}
.posting-link> a> div:first-child
{
  font-size:1rem;
  color: black;
}
.posting-link> a> div:last-child{
  padding-left:1rem;
  padding-right:1rem;
  font-size:0.8rem;
}

.add-posting{
  font-size: 1.3rem;
  margin: 1rem auto 1rem auto;
  display: block;
}